body::before {
    display: block;
    content: '';
    height: 135px;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* FRONTEND: logo absolute main_col_left
.centered-axis-x {
    position: absolute;
    left: 25%;
    top: 3%;
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 992px) {
    .centered-axis-x {
        transform: translate(25%, 0);
    }
}
*/

#left_col {
    background-color: #0C4B8E;
}

#right_col {
    background-color: #041F4F;
}